[user]
	name = Anatoly Korobov
	email = a.korobov06@gmail.com

[alias]
	l   = log --oneline --graph --decorate
	st  = status
	br  = branch
	c   = checkout
    delete-local-merged = "!git fetch && git branch --merged | egrep -v 'master|main' | xargs git branch -d"

[push]
    default = current

[credential]
	helper = osxkeychain

; [commit]
;     template = ~/.gittemplate
